1. Write a Python program to find sum of elements in list?

In [1]:
l=[2,5,6,7,2,43,56,34,76,21,34,45,213]
sum=0
for i in l:
    sum+=i
print("Sum of all elements in list is ",sum)

Sum of all elements in list is  544

2. Write a Python program to Multiply all numbers in the list?

In [3]:
l=[1,3,2,4,3]
mul=1
for i in l:
    mul*=i
print("Multiply of all elements in list is ",mul)

Multiply of all elements in list is  72

3. Write a Python program to find smallest number in a list?

In [5]:
l=[87,34,23,343]
min(l)

23

4. Write a Python program to find largest number in a list?

In [7]:
l=[87,34,23,343]
max(l)

343

5. Write a Python program to find second largest number in a list?

In [10]:
l=[87,34,23,343]
l.sort()
l[-2]

87

6. Write a Python program to find N largest elements from a list?

In [22]:
n=int(input("Enter value of n "))
l=[2,5,6,7,43,56,76,21,34,45,213]
l.sort()
for i in range(1,n+1):
    print("{} largest number is {}".format(i,l[-i]))

Enter value of n 5
1 largest number is 213
2 largest number is 76
3 largest number is 56
4 largest number is 45
5 largest number is 43

7. Write a Python program to print even numbers in a list?

In [24]:
l=[2,5,6,7,43,56,76,21,34,45,213]
print("Even number in list ",l)
for i in l:
    if i%2==0:
        print(i)

Even number in list  [2, 5, 6, 7, 43, 56, 76, 21, 34, 45, 213]
2
6
56
76
34

8. Write a Python program to print odd numbers in a List?

In [25]:
l=[2,5,6,7,43,56,76,21,34,45,213]
print("Odd number in list ",l)
for i in l:
    if i%2!=0:
        print(i)

Odd number in list  [2, 5, 6, 7, 43, 56, 76, 21, 34, 45, 213]
5
7
43
21
45
213

9. Write a Python program to Remove empty List from List?

In [11]:
l=[[],2,[],5,[6,7],[43],[56,76,21],[],34,45,[],213,[]]
for i in l:
    if type(i)==list and len(i)==0:
        l.remove(i)
print("Empty list removed from list {}".format(l))

Empty list removed from list [2, 5, [6, 7], [43], [56, 76, 21], 34, 45, 213]

10. Write a Python program to Cloning or Copying a list?

In [14]:
import copy
l=[2, 5, [6, 7], [43], [56, 76, 21], 34, 45, 213]
a=copy.copy(l)
a

[2, 5, [6, 7], [43], [56, 76, 21], 34, 45, 213]

11. Write a Python program to Count occurrences of an element in a list?

In [18]:
l=[2,4,6,1,2,4,7,8,2,3,4,1,6,3,2]
print("2 in list {} are {}".format(l,l.count(2)))

2 in list [2, 4, 6, 1, 2, 4, 7, 8, 2, 3, 4, 1, 6, 3, 2] are 4