1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [2]:
test1='This is a test of the emergency text system'
f=open('test.txt','w')
f.write(test1)
f.close()

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

Ans-NO

In [3]:
test2=open('test.txt','r')
print(test2.read())
test2.close()

This is a test of the emergency text system

3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [97]:
import csv
data=[['title','author','year'],
    ['The Weirdstone of Brisingamen', 'Alan Garner', 1960],
    ['Perdido Street Station', 'China Miéville', 2000],
    ['Thud!', 'Terry Pratchett', 2005],
    ['The Spellman Files', 'Lisa Lutz', 2007],
    ['Small Gods', 'Terry Pratchett', 1992]
]

f=open('book.csv','w')

writer=csv.writer(f)
writer.writerows(data)

f.close()

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [99]:
import mysql.connector as conn
mydb = conn.connect(host = "localhost" , user ="root" , passwd = "1234" )
cursor=mydb.cursor()
cursor.execute("create database book")
cursor.execute("show databases")
table='create table book.books1(title varchar(100), author varchar(100), year int(6))'
cursor.execute(table)
print(cursor.fetchall())

[]

5. Read books.csv and insert its data into the book table.

In [100]:
file=open('book.csv')
reader=csv.reader(file)
table=[]
rows=[]
for row in reader:
    rows.append(row)
file.close()

rows.pop(0)#Remove first header row

for row in range(1,len(rows),2):
    st="insert into book.books1 values"+str(tuple(rows[row]))
    cursor.execute(st)
mydb.commit()
cursor.execute("select * from book.books1 ")
for i in cursor.fetchall():
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

6. Select and print the title column from the book table in alphabetical order.

In [103]:
cursor.execute("select title from book.books1")
for i in cursor.fetchall():
    print(i)

('The Weirdstone of Brisingamen',)
('Perdido Street Station',)
('Thud!',)
('The Spellman Files',)
('Small Gods',)

7. From the book table, select and print all columns in the order of publication.

In [105]:
cursor.execute("select * from book.books1 order by author")
for i in cursor.fetchall():
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('The Spellman Files', 'Lisa Lutz', 2007)
('Thud!', 'Terry Pratchett', 2005)
('Small Gods', 'Terry Pratchett', 1992)

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [6]:
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
conn

Engine(sqlite:///books.db)

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for test.

In [1]:
pip install redis

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: redis in c:\users\dpkjs\appdata\roaming\python\python39\site-packages (4.3.4)
Requirement already satisfied: deprecated>=1.2.3 in c:\users\dpkjs\appdata\roaming\python\python39\site-packages (from redis) (1.2.13)
Requirement already satisfied: async-timeout>=4.0.2 in c:\users\dpkjs\appdata\roaming\python\python39\site-packages (from redis) (4.0.2)
Requirement already satisfied: packaging>=20.4 in c:\programdata\anaconda3\lib\site-packages (from redis) (21.3)
Requirement already satisfied: wrapt<2,>=1.10 in c:\programdata\anaconda3\lib\site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\programdata\anaconda3\lib\site-packages (from packaging>=20.4->redis) (3.0.4)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import redis
con = redis.Redis()
con.hset('test',{
    'count':1,
    'name':'Fester Bestertester'
})
con.hgetall('test')

10. Increment the count field of test and print it.

In [12]:
con.hincrby('test', 'count', 1)
con.hget('test', 'count')

b'13'