1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =[1980, 1981, 1982, 1983, 1984, 1985].

In [7]:
dob=1992
years_list=[]
for i in range(6):
    years_list.append(dob+i)
years_list

[1992, 1993, 1994, 1995, 1996, 1997]

2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [8]:
years_list[3+1]

1996

3.In the years list, which year were you the oldest?

In [9]:
max(years_list)

1997

4. Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".

In [41]:
things=["mozzarella", "cinderella", "salmonella"]
print("things is a {} type and elements are {}".format(type(things),things))

things is a <class 'list'> type and elements are ['mozzarella', 'cinderella', 'salmonella']

5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

Ans-Yes, First letter of string is in capital letter.

In [43]:
for i in range(len(things)):
    things[i]=str(things[i]).capitalize()
things

['Mozzarella', 'Cinderella', 'Salmonella']

6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."

In [44]:
surprise=["Groucho", "Chico", "Harpo"]
surprise

['Groucho', 'Chico', 'Harpo']

7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [47]:
surprise[-1]=surprise[-1].lower()
surprise=surprise[::-1]

for i in range(len(surprise)):
    surprise[i]=str(surprise[i]).capitalize()
surprise

['Groucho', 'Chico', 'Harpo']

8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

In [48]:
e2f={
    'dog':'chien',
    'cat': 'chat',
    'walrus':'morse'
}
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

9. Write the French word for walrus in your three-word dictionary e2f.

In [70]:
print("French word of walrus is ",e2f['walrus'])

French word of walrus is  morse

10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [68]:
f2e=dict()
for i,j in e2f.items():
    f2e[j]=i
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

11. Print the English version of the French word chien using f2e.

In [73]:
print("English version of french word chien is ",f2e['chien'])

English version of french word chien is  dog

12. Make and print a set of English words from the keys in e2f.

In [80]:
s=set(e2f.keys())
print("Set of english word from the keys in e2f is ",s)

Set of english word from the keys in e2f is  {'cat', 'dog', 'walrus'}

13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

In [83]:
life={
    'animals':
        {
            'cats': ['Henri','Grumpy','Lucy'],
            'octopi':{},
            'emus':{}
        },
    'plants':{},
    'other':{}
}
life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
 'plants': {},
 'other': {}}

14. Print the top-level keys of life.

In [85]:
life.keys()

dict_keys(['animals', 'plants', 'other'])

15. Print the keys for life['animals'].

In [86]:
life['animals'].keys()

dict_keys(['cats', 'octopi', 'emus'])

16. Print the values for life['animals']['cats']

In [88]:
life['animals']['cats']

['Henri', 'Grumpy', 'Lucy']