1. What exactly is []?

Ans-
To Declare empty list we just assign a variable with square bracket.

2. In a list of values stored in a variable called spam, how would you assign the value 'hello'; as the
third value? (Assume [2, 4, 6, 8, 10] are in spam.) Let's pretend the spam includes the list ['a','b','c','d'] for the next three queries.

Ans-We can use insert function and pass parameter as index postion and value.

In [129]:
spam=[2, 4, 6, 8, 10]
spam.insert(2,"Hello")
#spam.insert("Hello",3)
spam.append(['a','b','c','d'])
spam

[2, 4, 'Hello', 6, 8, 10, ['a', 'b', 'c', 'd']]

3. What is the value of spam[int(int('3' * 2) / 11)]?

Ans-3, string value '3' *2='33',int('33')=33,33/11=3,int(3)=3,spam[3]=6

In [130]:
spam[int(int('3' * 2) / 11)]

6

4. What is the value of spam[-1]?

Ans-It display last value of list.

In [131]:
spam[-1]

['a', 'b', 'c', 'd']

5. What is the value of spam[:2]?

Ans-It displays index 0 and 1 values.

In [132]:
spam[:2]

[2, 4]

Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.

In [133]:
bacon=[3.14, 'cat', 11, 'cat,',True] 
bacon

[3.14, 'cat', 11, 'cat,', True]

6. What is the value of bacon.index('cat')?

Ans-1

In [134]:
bacon.index('cat')

1

7. How does bacon.append(99) change the look of the list value in bacon?

Ans-Append will add value at last position. hence new list of bacon=[3.14, 'cat', 11, 'cat,', True, 99, 99]

In [135]:
bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat,', True, 99]

8. How does bacon.remove('cat') change the look of the list in bacon?

Ans-remove function will start checking string matches from 0th position. Hence first string match at 1st position and remove it. Now the bacon=[3.14, 11, 'cat,', True, 99, 99, 99]

In [136]:
bacon.remove('cat')
bacon

[3.14, 11, 'cat,', True, 99]

9. What are the list concatenation and list replication operators?
Ans-we can use + operator between two list for concatenation hence new list will all value of first list and second list.
Ex-spam +bacon=[2, 4, 'Hello', 6, 8, 10, ['a', 'b', 'c', 'd'], 3.14, 'cat', 11, 'cat,', True]

In replication we use * operator and this will relicate same list whatever integer we give in right side. 

Ex-spam*2=[2, 4, 'Hello', 6, 8, 10, ['a', 'b', 'c', 'd'], 2, 4, 'Hello', 6, 8, 10, ['a', 'b', 'c', 'd']]

In [137]:
print(spam +bacon)
spam*2

[2, 4, 'Hello', 6, 8, 10, ['a', 'b', 'c', 'd'], 3.14, 11, 'cat,', True, 99]

[2,
 4,
 'Hello',
 6,
 8,
 10,
 ['a', 'b', 'c', 'd'],
 2,
 4,
 'Hello',
 6,
 8,
 10,
 ['a', 'b', 'c', 'd']]

10. What is difference between the list methods append() and insert()?

Ans-append() method add value at last position in list.
Ex-a=[1,2]
a.append('deepak')
print(a)

insert() method insert value before index postion.
a.insert(2,'kumar')
print(a)

In [138]:
a=[1,2]
a.append('deepak')
print("Append method ",a)
a.insert(2,'kumar')
print("Insert method",a)

Append method  [1, 2, 'deepak']
Insert method [1, 2, 'kumar', 'deepak']

11. What are the two methods for removing items from a list?

Ans-There two method which can remove item from list.
pop() method-It Remove and return item at index value in parameter by default last position.
remove() method- It Remove first occurrence of value.

Ex-ab=[1,2,3,4]
print("Our list is ",ab)
print("Output of pop method ",ab.pop(2))
print("New list is ",ab)
ab.remove(1)
print("Output after reomve method ",ab)

In [139]:
ab=[1,2,3,4]
print("Our list is ",ab)
print("Output of pop method ",ab.pop(2))
print("New list is ",ab)
ab.remove(1)
print("Output after reomve method ",ab)

Our list is  [1, 2, 3, 4]
Output of pop method  3
New list is  [1, 2, 4]
Output after reomve method  [2, 4]

12. Describe how list values and string values are identical.

Ans- Lists and strings are sequence. we can iterate both by element wise and character by in string. List are mutable and string are immutable. we can change any value in list but in string we can't change any character. List can stores value of different types but string only contains character of string.

13. What's the difference between tuples and lists?

Ans-List are mutable and tuples are immutable. we can change any value in list but in tuples we can't change any character.

14. How do you type a tuple value that only contains the integer 42?

Ans-a=(42)

In [140]:
a=(42)
a

42

15. How do you get a list value's tuple form? How do you get a tuple value's list form?

Ans- we can convert list in to tuple and tuple in to list
Ex-tu=(5,4,6,3,7)
print("created a tuple is ",tu)
li=list(tu)
print("Converted Tuple to List ",li)
tup=tuple(li)
print("Converted list to Tuple ",tup)

In [141]:
tu=(5,4,6,3,7)
print("created a tuple is ",tu)
li=list(tu)
print("Converted Tuple to List ",li)
tup=tuple(li)
print("Converted list to Tuple ",tup)

created a tuple is  (5, 4, 6, 3, 7)
Converted Tuple to List  [5, 4, 6, 3, 7]
Converted list to Tuple  (5, 4, 6, 3, 7)

16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they
contain?

Ans- Variables in list can be any type like it may be Int, float, complex number, string, boolean, list, tuple

17. How do you distinguish between copy.copy() and copy.deepcopy()?

Ans-copy and deepcopy method is available in copy module.

In copy.copy() , new memory allocation never happens for the other entities like list inside a list in below example and the only reference is copied to the other entities.
Ex-
import copy
old=[1,2,3,4,[1,3,7]]
new=copy.copy(old)
old[4][0]='Deepak'
new[0]='ineuron'
print(new,old)

Output-
['ineuron', 2, 3, 4, ['Deepak', 3, 7]] [1, 2, 3, 4, ['Deepak', 3, 7]]

In copy.deepcopy(), a new memory allocation happens for the other entities, and reference is not copied to the other entities.
Ex-
import copy
old=[1,2,3,4,[1,3,7]]
new=copy.deepcopy(old)
old[4][0]='Deepak'
new[0]='ineuron'
print(new,old)
Output-
['ineuron', 2, 3, 4, [1, 3, 7]] [1, 2, 3, 4, ['Deepak', 3, 7]]

In [142]:
import copy
old=[1,2,3,4,[1,3,7]]
new=copy.copy(old)
old[4][0]='Deepak'
new[0]='ineuron'
print(new,old)

['ineuron', 2, 3, 4, ['Deepak', 3, 7]] [1, 2, 3, 4, ['Deepak', 3, 7]]

In [143]:
import copy
old=[1,2,3,4,[1,3,7]]
new=copy.deepcopy(old)
old[4][0]='Deepak'
new[0]='ineuron'
print(new,old)

['ineuron', 2, 3, 4, [1, 3, 7]] [1, 2, 3, 4, ['Deepak', 3, 7]]